.q{border: solid black 5px;}
.w{border: groove yellow 5px;}
.e{border: ridge brown 5px;}
.r{border: double tomato 5px;}
.t{border: dashed green 5px;}
.y{border: dotted blue 5px;}
.u{border: inset grey 5px;}
.i{border: outset red 5px;}